body {
  font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background: #f5f0e6;
  color: #191714;
  text-align: center;
}

h1 {
  text-align: center; 
  padding: .75rem;
  font-size: 7rem;
}

h2 { 
  text-align: centerr; 
  font-size: 3.5rem;
}

p { 
  text-align:left; 
  margin: 3rem;
  font-size: 1.25rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-top: 2px solid #191714;
  border-bottom: 2px solid #191714;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 2px solid #f1e5cd;
  border-radius: 5px;
  text-align: center;
  font-size: 2.2em;
  background: #f1e5cd;
  padding: .5rem;
}

td {
  font-style: italic;
  font-size: 1.5em;
}

th{
  font-size: 2.5em; 
}

th:hover {
  background-color: #fef0c8;
  border-color: #fef0c8;
}

td:hover {
  background-color: #fef0c8;
  border-color: #fef0c8;
}


